# Ignore Terraform state files
**/*.tfstate
**/*.tfstate.backup
**/.terraform/
**/.terraform.d

# Ignore environment tfvars 
# Ignore in any subdir
**/.tfplan
**/*.tfvars

# Ignore logs or artifacts
**/*.log

# Ignore .vscode
**/*.vscode

# Ignore virtual env
.venv/
